{% extends 'default.html' %}

{% load unwanted_words_filter %}

{% block title %}
    Post detail
{% endblock title %}

{% block content %}
    <table>
        <tr>
            <td>Название поста</td>
            <td>Дата публикации</td>
            <td>Новость/пост</td>
            <td>Рэйтинг</td>
            <td>Категория</td>
        </tr>

        <tr>
            <td>{{ post.title_post|truncatechars:15 }}</td>
            <td>{{ post.date }}</td>
            <td>{{ post.body_post|unwanted_words_filter }}</td>
            <td>{{ post.rating_post }}</td>
            <td>
                {% for category in post.post_category.get_queryset %}
                {{ category }}
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock content %}