{% extends 'newspaper/post_list.html' %}


{% block title %}
    Post search
{% endblock title %}

{% block content %}

        {% block search %}
        <form method="GET">
                {{ filter.form }}
                <input type="submit" value="Найти">
            </form>
        {% endblock search %}
        <table>
            <tr>
                <td>Название поста</td>
                <td>Дата публикации</td>
                <td>Новость/пост</td>
                <td>Рэйтинг</td>
                <td>Категория</td>
            </tr>
            {% for post in posts %}
            <tr>

                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title_post|title }}</a>
                    <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a>
                    <a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a>
                </td>
                <td>{{ post.date }}</td>
                <td>{{ post.body_post|truncatechars:50 }}</td>
                <td>{{ post.rating_post }}</td>
                <td>
                    {% for category in post.post_category.get_queryset %}
                    {{ category   }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock content %}